{% extends 'base/base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block body %}

<div class="position-absolute top-50 start-50 translate-middle w-25">
    <div class="card shadow-lg">

            <div class="card-body" x-data="data">

                <div class="card-title mb-3"><h3 class="text-center">Change password</h3></div>
                <hr>
                
                <div class="mb-3">
                    <input type="text" class="form-control required-input shadow" id="login" x-model="request.login" placeholder="Login" required>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control required-input shadow" name="password1" id="password" x-model="request.old_password" placeholder="Old password" required>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control required-input shadow" name="password1" id="password" x-model="request.new_password" placeholder="New password" required>
                </div>

                <div class="text-center">
                    <button type="subimt" class="btn btn-outline-success rounded-pill shadow w-100" x-show="request.login && request.new_password && request.old_password" @click="changePassword()"><i class="bi bi-person-plus"></i> Log in</button>
                </div>

            </div>

        </div>
     </div>
</div>


<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('data', () => ({
            user: '',
            request: {'login': '', 'new_password': '', 'old_password': ''},
            init() {
                this.getUser()
            },
            async getUser() {
                // Send to crud
                const response = await fetch(`/users/${'{{ session["login"] }}'}`, { method: 'POST' })
                const data = await response.json()

                
            },
            async changePassword() {

                if (this.request.login != user.login ) { Swal.fire({icon: 'error', title: 'Oops!', text: 'Wrong login!'}) }
                else if (this.request.old_password != user.password) { Swal.fire({icon: 'error', title: 'Oops!', text: 'Wrong password!'}) }
                else if (this.request.new_password < 8) { Swal.fire({icon: 'error', title: 'Oops!', text: 'Password is too short!'}) }
                else {
                        // Send to crud
                        const response = await fetch(`/users/${user.id}`, {
                            method: 'PATCH',
                            body: JSON.stringify( { password: this.request.new_password } ),
                            headers: { 'Content-Type': 'application/json' }
                        })
                        const data = await response.json()
                        
                        // Show alert
                        if (response.ok) {
                            this.request.login = ''
                            this.request.old_password = ''
                            this.request.new_password = ''
                            Swal.fire('Success!', 'Password and salt changed successfully!', 'success')
                        }
                        else {
                            Swal.fire('Sorry!', 'Something went wrong! Please try again.', 'danger')
                        }
                }
               
            },
            
        }
        ))
    })

</script>

{% endblock body %}